html,
body {
  background-color: rgb(145, 233, 224);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: turquoise;
    background: black;
  }
}

.items{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}